
<%- await include('config'); %>
<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%
    global.title = "Mapa do Site";
    global.desc = 'Mapa do Site';
    global.keywords = 'Mapa do Site';
  %>

  <%- await include('../@/head'); %>

  <%- await include('assets/css/css-seo'); %>

</head>

<body>
  <%- await include('../@/layout/menu'); %>

  <main role="main" id="main">
    <%- await include('../@/layout/header'); %>

    <div class="content_text_4up mb-5" id="container_4up">
      <div class="container py-5">
    
        <header class="div_title_4up">
          <h1 class="title_h1_4up"><%= global.title %></h1>
        </header>
    
        <div class="row">
          <div class="col-md-12">
            <ul class="listing">
              <%- await include('includes/menu-mapa'); %>
            </ul>
          </div>
        </div>
      </div>
      <%- await include('includes/shared'); %>
      <div class="item_link_seo_4up text-center">
        <a class="collapsed" title="Links relacionados" data-toggle="collapse" href="#linksRelacionados" role="button" aria-expanded="false" aria-controls="linksRelacionados">OUTROS LINKS RELACIONADOS</a>
      </div>
      
      <div class="nuven_de_tag_4up collapse" id="linksRelacionados">
        <div class="list_link_4up">
          <ul>
            <%- await include('includes/menu-mapa'); %>
          </ul>
        </div>
      </div>
    </div>

    <%- await include('includes/contato-button'); %>
    <%- await include('../@/layout/footer'); %>
  </main>

  <%- await include('../@/json') %>
  <%- await include('../@/scripts'); %>
</body>

</html>
