<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('../@head.ejs') %>
</head>

<body id="page-404">
  <%- await include('../@/layout/menu.ejs') %>

  <main role="main" id="main">
    <%- await include('../@layout/header.ejs') %>

    <div class="container py-5">
      <article id="fallback-404">
        <span class="text-muted">
         teste
         
        </span>
      </article>
    </div>

    <%- await include('../@layout/footer.ejs') %>
  </main>

  <%- await include('../@json.ejs') %>
  <%- await include('../@scripts.ejs') %>
</body>

</html>
