
<%- await include('config'); %>
<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%
    global.title = "Mapa do Site";
    global.desc = 'Mapa do Site';
    global.keywords = 'Mapa do Site';
    let texto_title
  %>

  <%- await include('../@/head'); %>

  <%- await include('assets/css/css-seo'); %>

  <% var request = require('request');
  let url_txt =  global.url_content_server_production + 'assessoria-para-importar-produtos-da-china.php'
  request(url_txt, function (error, response, body) {
    if (!error && response.statusCode == 200) {
       var importedJSON = JSON.parse(body);
       console.log(importedJSON);

       global.title = importedJSON.title;
       global.texto_title = importedJSON.text_title
    }
  }) %>

</head>

<body>
  <%- await include('../@/layout/menu'); %>

  <main role="main" id="main">
    <%- await include('../@/layout/header'); %>

    <div class="content_text_4up mb-5" id="container_4up">
      <div class="container py-5">
    
        <header class="div_title_4up">
          <h1 class="title_h1_4up"><%= global.title %></h1>
        </header>
    
        <div class="row">
          <div class="col-md-12">
            <%= global.texto_title %>
          </div>
        </div>
      </div>
      <%- await include('includes/shared'); %>
    </div>

    <%- await include('includes/contato-button'); %>
    <%- await include('../@/layout/footer'); %>
  </main>

  <%- await include('../@/json') %>
  <%- await include('../@/scripts'); %>
</body>

</html>
