
<%- await include('config'); %>
<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%
    global.title = "Mapa do Site";
    global.desc = 'Mapa do Site';
    global.keywords = 'Mapa do Site';
  %>

  <%- await include('../@/head'); %>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

  <%- await include('assets/css/css-seo'); %>


<script>
  var url_txt = 'https://homolog4up.com.br/textos/teste/comprar-acessorios-para-colheitadeiras.php'
  fetch(url_txt)
    .then(response => response.json())
    .then(data => {
      const jsonData = data;
      alert(jsonData)
      console.log(jsonData)
    });
</script>
</head>

<body>
  <%- await include('../@/layout/menu'); %>

  <main role="main" id="main">
    <%- await include('../@/layout/header'); %>

    <div class="content_text_4up mb-5" id="container_4up">
      <div class="container py-5">
    
        <header class="div_title_4up">
          <h1 class="title_h1_4up"><%= global.title %></h1>
        </header>
      </div>
      <%- await include('includes/shared'); %>
    </div>

    <%- await include('includes/contato-button'); %>
    <%- await include('../@/layout/footer'); %>
  </main>

  <%- await include('../@/json') %>
  <%- await include('../@/scripts'); %>
</body>

</html>
